<div class="education">
    <h2>Education</h2>
    <div class="mu edu">
        <p><strong>Mumbai University</strong></p>
        <p><strong>College of Computer Science and Engineering</strong></p>
        <p><Strong>Discipline:</Strong> BE Computer Science</p>
    </div>
    <div class="stb edu">
        <p><strong>State Board University</strong></p>
        <p><strong>College of Engineering and Technology</strong></p>
        <p><Strong>Discipline:</Strong> Diploma in Computer Technology</p>

    </div>
    <div class="Intern edu">
        <p><strong>Internship</strong></p>
        <p>Java  and Android Intern At Aerus Infotec</p>

    </div>
</div>