<div class="projects">
    <h2>Projects</h2>
    <div class="project-item">
        <p class="project-title"><strong>Material Color Palette</strong></p>
        <p class="project-desc">Use Material Color Palette to choose your color combination it has a collection of color which provides colors from the material design guideline for your Android & Web Design.</p>
    </div>

    <div class="project-item">
        <p class="project-title"><strong>Photographer Websit</strong></p>
        <p class="project-desc">It's a Professional Photographer website which shows his art, application, practice and services which he provides and an easy way to connect with him.</p>
    </div>

    <div class="project-item">
        <p class="project-title"><strong>The Golden Restaurant</strong></p>
        <p class="project-desc">It's a Restaurant website with complete restaurant details and where people can see the restaurant menu, history, book table online and order food.</p>
    </div>
</div>