
<div class="intro">
    <h2>Intro</h2>
    <div class="par">          
    <p class="intro-p">I'm a Computer Engineer based in New Mumbai. I'm passionate about coding, learning new skills and shaping new products through my activity as a programmer.</p>
    <p class="intro-p">I'm always excited for developing and designing products for the web, from simple landing pages to full-fledged web apps and mobile apps. In my spare time I'm usually building things and searching for new skills to learn. I also do sketching and enjoy traveling to exciting places.</p>
    <p class="intro-p intro-blue-p"></p>
    </div>
</div>
