<div class="contact">
 
    <h2>Hey, I'm Kunal</h2>
    <p class="co-intro">Developer based in New Mumbai, IN</p>
    <div class="social-icons">
        <p><a href="https://www.linkedin.com/in/kunal-more-7b264b125/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></p>
        <p><a href="https://www.instagram.com/kunalv.more/" target="_blank"><i class="fa fa-instagram" style="font-size:24px"></i></a></p>
        <p><a href="https://twitter.com/KunalVMore" target="_blank"><i class="fa fa-twitter" style="font-size:24px"></i></a></p>
        <p><a href="https://github.com/kunalvmore" target="_blank"> <i class="fa fa-github" style="font-size:24px"></i></a></p>

    </div>
</div>