*{
    margin: 0;
    padding: 0;    
}
.contact{
    
    h2{
        color: #fff;
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
    }
    .co-intro{
        color: #fff;
        text-align: center;
        margin-top: 15px;
    }
    .social-icons{
        display: flex;
        justify-content: center;
        p{
            margin: 30px 10px;
            color: #fff;
            
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}



